body {
	background-color: #f1f1f1f1;
}
.row {
	margin-left: 20px;
}
.col-1 {
	float: left;
	width: 10%;
}
.col-2{
	float: right;
	width: 90%;
}

.content{
	padding: 20px;
	margin: 20px;
	background-color: #ffffff;
	overflow: auto;
}
	
@media screen and (max-width: 600px) {
	.col-1{
		width: 100%;
	}
	.col-2{
		width: 100%;
	}
}